html {
    font-family: '', monospace;
    font-size: 150%;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px grey;
    margin-top: 25px;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    width: 100%;
}

.hardcast {
    box-shadow: 1px 1px 5px 1px grey;
    background-color: black;
    border-radius: 5%;
}

a {
    text-decoration: none;
}